AS = nasm -f elf32
LD = i686-elf-ld
CC = i686-elf-gcc
CXX = i686-elf-g++
AR = i686-elf-ar

C_FLAGS := -Wall -ffreestanding -nostdlib -std=c99
CXX_FLAGS := -Wall -ffreestanding -nostdlib -std=c++20 -fno-exceptions -fno-leading-underscore -fconcepts-diagnostics-depth=2
LD_FLAGS :=
AS_FLAGS :=


ifdef DEBUG
C_FLAGS := -ggdb $(C_FLAGS)
CXX_FLAGS := -ggdb $(CXX_FLAGS)
else 
C_FLAGS := -O2 $(C_FLAGS)
CXX_FLAGS := -O2 $(CXX_FLAGS)
endif
